CFPService-api-impl/target/
CFPService-webapp-it/target/
CFPService-webapp/target/
CFPService-webapp-exec/target/
CFPService-api/target/
CFPService-webapp/src/main/webapp/css/styles.css~
persistance/img/*.png
persistance/prediction/*.prediction
persistance/model/*.model
persistance/warn/*.warn
persistance/model/*.cfp
persistance/model/*.arff
persistance/model/*.classifier
*/.settings
.settings
.project
*/.project
*/.classpath
