
body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: .9rem;
	background-color: white;
	margin:10px 0px; padding:0px;
	text-align: center;
	background-color:#eee;
}

.pubchem {
	color: black;
	background-color:white;
	font-size: .75rem;
	text-align:left;
}


/*h, input, button, select, option, textarea, table, div, p, li, a{*/

#content {
	width:960px;
	margin:0px auto;
	text-align:left;
	padding:1%;
	/*border:1px dashed #333;*/
	border: 1px solid #98AFC7;
	background-color:white;	
	font-size: inherit;
	/*background-color:#eee;*/
}

img {
	border-color: #98AFC7;

}

#wide-content {
	margin:0px auto;
	text-align:left;
	padding:1%;
	font-size: inherit;
	/* background-color:white;	
	border:1px dashed #333;
	background-color:#eee;*/
}


.wrap_col {
    width:100%;
}

.left_col {
    float:left;
    max-width: 49%;
    margin-right: 2%;
}
.right_col {
    float:left;
    max-width: 49%;
}

.clear_col {
   clear:both;
}


footer {
	padding:15px;
}


h1{
	font-size: 1.15rem;
}

h1large {
	font-size: 1.7rem;
}

h1small {
	font-size: 0.9rem;
	/* color: #8B99AB; */
	color: black;
	/* opacity: 0.33; */
 	font-weight: normal; 
}


h2{
	font-size: 1.3rem;
}

.inline {
	display: inline;	
}

h3{
	font-size: 1.15rem;
}

h4{
	font-size: 1rem;
}

input, button, select, option, textarea, table, div, p, li, a, pre, object, embed {
    font-size: inherit;
    font-family: inherit;
}

a {
	color: inherit;
}

a, u {
    text-decoration: none;
}

a.underline, u.underline {
    text-decoration: underline;
}

em {
	color: gray;
}

a:hover {
	color: #15317E;
    text-decoration: underline;
}

a.a_header {
	color: inherit;
	text-decoration:none;
}

a.a_header:hover {
	text-decoration:underline;
	color: #15317E;
}

footer {
    font-size: .75rem;
    font-family: inherit;
}

.small {
    font-size: .75rem;
}

.smallGrey {
    font-size: .75rem;
    color:gray;
}

h1, h2, h3, h4, th {
 	color:#15317E;		
}

th {
	background-color:#eee;
}

th.transpose {
	background-color: inherit;
}


iframe {
	border: 2px #15317E solid;
} 

table, th, td{
	padding: 3px;
  	word-wrap:break-word;
	border: 1px solid #98AFC7;
    border-collapse: collapse;
}

table.noBorder{
	border: 0px;
}

table{
	max-width:1800px;
}

table.alternate tr:nth-child(odd){
	background-color:#eee;
}

table.alternate tr:nth-child(even){
	background-color:#fff;
}

th.slim, td.slim{
	max-width:300px;
}

table.table_footer, th, td {
  padding-top:8px;
  padding-bottom:8px;
  padding-left:15px;
  padding-right:15px;
  border:0px;
  margin-left: auto;
  margin-right: auto;
}

.removePaddingRight {
   padding-right:0px;
}

.error {
  color: #FF0000;
}

.active {
  color: #FF0000;
}

.active_medium {
  color: #FF3333;
}

.active_low {
  color: #FF6666;
}

.inactive {
  color: #009900;
}

.inactive_medium {
  color: #33AD33;
}

.inactive_low {
  color: #66C266;
}

.missing {
  color: #CCCCCC;
}

.outside {
  color: #666666;
  font-style:italic;
}




.MouseoverHelp {
    position:relative;
}
.MouseoverHelp div {
    display: none;
}
.MouseoverHelpHover {
    position:relative;
}
.MouseoverHelpHover div {
    display:block;
    background-color: #eee;
    position:absolute;
    padding: 1em;
    border: 1px solid #98AFC7;
    width: 25em;

    color: black;
    font-weight: normal;
    text-decoration:none;
    font-size: 95%;
    font-family: inherit;

/*    top:1.3em;
    *top:20px;
    left:70px;
    z-index:1000;
    border-radius: 4px;*/
}
